body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .graph {
    margin: 20px;
  }
  /* Styles for the submit button */
input[type="submit"] {
  background-color: #9C2D19; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
}

input[type="submit"]:hover {    
  background-color: #722113; /* Darker green */
  cursor: pointer;
}

  