

<!DOCTYPE html>
<html>
<head>
    <title>Generate Graphs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
</head>
<body>
    <h1>Select Course(s)</h1>
    
    <form action="{{ url_for('generate_graphs') }}" method="POST">
        {% for row in data %}
            <input type="checkbox" name="courses" value="{{ row[3] }}" id="{{ row[3] }}">
            <label for="{{ row[3] }}">{{ row[0] }} - {{ row[1] }} - {{ row[2] }}</label>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Generate Graphs">
    </form>
</body>
</html>






